.docker/httpd/certs/*
.docker/mosquitto/certs/*
misc/*
.docker/*/log/*log
.docker/mosquitto/data/*.db
.docker/mosquitto/passwords
.docker/mariadb/mysql/*
.docker/mariadb/docker-entrypoint-initdb.d/setup.sql
.docker/.env
