@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#main {
	font-family: 'Roboto', sans-serif;
	padding:25px;
}

#container {
	display: grid;
	grid-template-columns: auto;
	padding: 8px;
}

.bed {
	margin-left: 4px;
	margin-right: 4px;
	width: calc( 100% / 3 - 8px );
}

.bed .bpm {
	float: left;
}

.bed .bell {
	display: block;
	float: right;
	font-size: 3rem;
	animation: bell 0.5s both infinite;
}

.bed .warning-icon {
	display: block;
	float: right;
	font-size: 3rem;
}

.warning {
	animation: pulse 0.5s both infinite;
}

@keyframes bell {
	0%		{ transform: rotate(0); }
	25%		{ transform: rotate(30deg); }
	75%		{ transform: rotate(-30deg); }
	100%	{ transform: rotate(0); }
}

@keyframes pulse {
	0%		{ transform: scale(20%); }
	100%	{ transform: scale(0%); }
}